<div id="header">
	<h1>UWCS LAN Music Server</h1>
</div>

<!-- The submit form -->
<div id="url-request">
	<form action="/request" method="post">
		<table>
			<tr>
				<td><b>URL: </b></td>
				<td><input type="text" name="url"></td>
				<td><input type="submit" value="Submit"></td>
			</tr>
		</table>
	</form>
</div>

<!-- The table containing the buckets to be played -->
<% bucket %>
