<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<% settings.charset %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
		<title>Music Server</title>
		<link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<% content %>
		<div id="footer">
			<hr \>
			By Alex Kerr (kirby);
			Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
		</div>
	</body>
</html>
